@import './variables.less';

.superscript {
  font-size: 80%;
  letter-spacing: 0.3rem;
  margin: 0;
}

header {
  padding: 2.5rem 1rem 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &.landing-bg {
    background-image: url('./static/images/landing-bg.jpg');
  }

  .details {
    padding-top: 1.5rem;
  }
}

.content {
  padding: 2rem 1rem;
}
