@import './variables.less';
@import './mixins.less';

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: 300px;
  padding: 1.8rem 0.8rem 1.6rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &.landing-bg {
    background-image: url('./images/landing-bg-ALT.jpg');
  }

  &.the-day-bg {
    background-image: url('./images/the-day-bg.jpg');
  }

  &.travel-accommodation-bg {
    background-image: url('./images/travel-accommodation-bg.jpg');
  }

  .details {
    padding-top: 1.5rem;

    h2 {
      font-size: 1.4rem;
    }
  }
}

footer {
  min-height: 40px;

  #scroll {
    pointer-events: none;
    opacity: 0;
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
    padding: 5px 0 0 1px;
    position: fixed;
    bottom: 15px;
    border-radius: 50%;
    background-color: @primary;
    color: @background;
    text-align: center;
    font-size: 1.8rem;
    z-index: 1;
    transition: 0.5s ease;
    transition-property: opacity;

    &.visible {
      pointer-events: initial;
      opacity: 1;
    }

    svg {
      width: 100%;
      padding: 0;
      text-align: center;
    }
  }
}

.menu {
  padding: 2.4rem 0 0;
  font-weight: 600;

  a {
    display: block;
    font-size: 1.2rem;
    line-height: 2;
    padding: 0.4rem 0;

    &.active {
      color: @primary-select;
    }
  }
}

hr {
  border: 1px solid @secondary;
  width: 3.2rem;
}

.superscript {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  margin: 0;
}

h3 .superscript {
  padding-left: 0.2rem;
  letter-spacing: 0.2rem;
}

.content {
  padding: 0.5rem 2rem;

  select {
    max-width: 15rem;
    margin-bottom: 1rem;
    padding: 0.75rem 2.5rem 0.75rem 1rem;
    border: none;
    border-radius: 1px;
    background: lighten(@secondary, 3%);
    background-image: url('./images/chevron-down.svg');
    background-position: right 0.75rem top 50%, 0 0;
    background-repeat: no-repeat;
    color: @body;
    font-family: @body-font;
    font-size: 1rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    &:focus {
      outline-color: @primary;
    }
  }

  form {
    margin: 1rem auto;
    max-width: 450px;

    .guest-fields {
      display: none;

      &.active {
        display: block;
        margin: 0.4rem 0;
      }
    }

    hr {
      margin-bottom: 2.2rem;
    }

    label {
      .header-text();
      margin: 0.5rem 0;
      letter-spacing: 0.2rem;

      &.checkbox-label {
        display: block;
        font-size: 1.1rem;
      }
    }

    input,
    textarea {
      width: 100%;
      padding: 0.8rem;
      margin: 0.5rem auto;
      border: none;
      text-align: center;
      background: @input;
      color: lighten(@body, 2%);
      font-size: 1rem;
      font-family: @body-font;

      &:focus {
        outline: 1px solid darken(@input, 5%);

        &::placeholder {
          color: transparent;
        }
      }
    }

    input[type='text'] {
      margin-bottom: 0.6rem;
    }

    input[type='checkbox'] {
      width: auto;
      margin-right: 0.4rem;
    }

    .dietary-details {
      label {
        display: inline-block;
      }
      .dietary-text-field {
        opacity: 0;
        height: 0;
        padding: 0;
        overflow: hidden;
        transition: 0.5s;
        transition-property: opacity, padding;
      }
      input[type='checkbox']:checked ~ .dietary-text-field {
        opacity: 1;
        height: auto;
        padding: 0.8rem;
        margin-bottom: 1.8rem;
        overflow: visible;
      }
    }
  }

  .sub-section {
    padding: 0.2rem 0 0.65rem;

    &:last-of-type {
      padding-bottom: 0;
    }

    &.hotels {
      padding: 0.2rem 0 1.3rem;
    }

    h4 {
      margin: 1rem 0 0.5rem;
    }

    .item {
      padding-bottom: 1.2rem;

      &:last-of-type {
        padding-bottom: 0.2rem;
      }
    }
  }

  iframe,
  img {
    max-width: 100%;
    margin-top: 1rem;
  }

  .venue-details {
    h4 {
      margin: 0.4rem 0 0.2rem;
    }
    a.phone-number {
      font-size: 1.2rem;
    }
    span {
      display: block;
      padding-bottom: 0.3rem;
    }
    .northern-monk-logo {
      max-width: 5em;
    }
    iframe {
      min-height: 450px;
      width: 600px;
      margin-bottom: 2rem;
    }
  }
}
