@background: #fffffa;
@primary: #7fc69f;
@primary-select: lighten(@primary, 10%);
@secondary: #fbefde;
@warning: #ef4545;
@input: #f0fbf2;
@title: #202030;
@header: #f4b45c;
@body: #676870;

@header-font: 'benchnine', sans-serif;
@body-font: 'raleway', sans-serif;
